<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
   <script>
   new Clipboard('.copy');
   function myFunction(gelen) {
       $('body').css({
           'cursor': 'url("http://localhost:3000'+gelen+'"), auto'
       });
    }
   </script>
   <div class="content">
     <div class="aboutus">
     	OnlineCursorMaker.com <br> <br> The Best Online Cursor Maker
     </div>
<% counter =0 %>
       <% @resumes.each do |resume| %>
          	<span class="cursor">
              <div class="buttons">
                <button onclick="myFunction('<%= resume.attachment %>')" class="copy btn btn-info" data-clipboard-text="<%= resume.name %>">try
                </button>
                <button class="copy btn btn-success" data-clipboard-text="<%= resume.name %>">copy
                </button>
              </div>
              <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
          	 <%= image_tag(resume.attachment) %>
          	</span>
       <% end %>
   </div>
